.dev-bar {
    background-color: #282A35;
    
    width: 100vw; 
    display: flex;

    justify-content: center;
    align-content: center;
}

.dev-button {
    color: #FFFFFF;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

    text-align: center;
    text-decoration: none; 
    font-family:'Roboto';
    font-size: 20px;
}

.dev-button:hover {
    background-color: #000000;
}