.box {
    width: max-content;
    margin: auto;
    justify-content: center;
}

.image {
    display: block;

    width: 1070px;
    height: 660px;
}

.lower-box {
    width: fit-content;
    margin: auto;
    
    margin-top: 50px;
    margin-bottom: 50px;
}