.landing-body {
    max-width: 520px;
    width: fit-content;
    height: 100%;
    margin:auto;
}

.title {
    width: 100%;
    text-align: center;
}

.upper-box {
    display: inline-block;
    position: relative;
    background-color: #FFFFFF;

    min-height: 420px;
    width: 100%;

    box-sizing: border-box;
    padding: 50px;
}

.information-button {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.bob {
    position: absolute;
    bottom: 37px;
    right: 50px;
    padding: 0;
}

.lower-box {
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.recycling-button {
    font-size: 36px;
}