html, body {
    margin: 0;
    padding: 0;
    border: 0;

    background-color: #F5F5F5;
    min-width:1000px;

    overflow-y: scroll;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html ::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family:'Roboto';
}

.title {
    color: #1B8800;
    font-style: italic;
    font-size: 50px;
    vertical-align: top;
}

.title-adjuster {
    padding-left: 40px;
}

.base-body {
    width: auto;
    margin: auto;

    justify-content: center;
    align-items: center;
}

/* BUTTON FORMATING*/

.standard-button-background {
    background-color: #1B8800;
    display: inline-flex;

    width: fit-content;
    height: fit-content;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
}

.longer-button-background {
    padding-left: 50px;
    padding-right: 50px;
}

.alt-background-color{
    background-color: #535353;
}

.standard-button-link {
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
}

.text {
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 20px;
}
