.title {
    display: flex;
    float: left;
}

.bob-white-box {
    margin: auto;
    margin-top: 20px;
}

.form-box {
    display: flex;
    width: auto;
    margin: auto;
    justify-content: center;
}

.selection-box-container {
    display: flex;
}

.selection-container {
    display: block;
    width: 300px;
    padding: 20px;
}

.selection-image-box {
    width: fit-content;
    margin: auto;
}

.image {
    width: 100px;
    height:100px;
}

.selection-box {
    background-color: #D9D9D9;

    min-height: fit-content;
    height: 300px;

    padding: 20px;
    border-radius: 15px;
    border: 2px solid #6B6969;
}

.selection-title {
    text-align: center;
}

.selection-row {
    display: inline-block;
    width: 100%;
    padding: 5px;
}

.radio-button {
    float: right;
    align-self: center;
}

.radio-label {
    float: left;

    margin: 0;
    padding: 0;
    border: 0;
}

.slider {
    float: left;
    width: 60%;
    position: relative;
    top: 5px;
}

.slider-result {
    float:right;
    display: inline-flex;
    background-color: #FFFFFF;
    border: 1px solid #6B6969;
    padding: 3px;
    border-radius: 3px;
}

.slider-units {
    margin: 0;
    padding: 0;
    border: 0;
}

.standard-button-background {
    display: block;
    width: fit-content;
    margin: auto;
}

.suggestion-link {
    padding: 5px;
    text-align: center;
    width: auto;
    margin: auto;
    margin-bottom: 50px;
}

#suggestion-link {
    color: #535353;
    text-decoration: underline;
}