.upper-box {
    position: relative;
    margin-bottom: 150px;
}

.lower-box {
    position: relative;
    width: 50vw;
    margin: auto;
    padding-bottom: 50px;

    justify-content: center;
    vertical-align: center;
}

.bob-adjustor, .title-adjustor {
    position: absolute;
    top: 0;
    width:100%;
}

.bob-white-box {
    margin: auto;
}

.form-row {
    margin: 15px;
    font-size: 25px;
}

.form-box-title {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
}

.form-box {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #C0E1B8;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    border-radius: 5px;
}

.enlarged-form-box {
    height: 100px;
    
}

.submission-row {
    width: fit-content;
    margin: auto;
}
