{% extends 'base.html' %}

{% block head %} 
{% endblock %} 

{% block body %} 
<!-- Body of the web page goes here! -->
<div>
    <h1>EWasteGoWhere</h1>

    <div>
        <p>Welcome to EWasteGoWhere!</p>
        <p>I'm Bob and I will be helping you navigate this website</p>

        <div>
            <a href="{{ url_for('information') }}">Learn more</a>
            <img src="{{ url_for('static', filename='images/bob.png') }}">
        </div>
    </div>

    <a href="{{ url_for('selection') }}">Start recycling →</a>

</div>
{% endblock %}