{% extends 'base.html' %}

{% block head %} 
<link rel='stylesheet' href="{{ url_for('static', filename='css/bob.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/landing.css') }}">
{% endblock %} 

{% block body %} 
<!-- Body of the web page goes here! -->
<div class="landing-body">
    <h1 class="title">EWasteGoWhere</h1>

    <div class='upper-box'>
    
        <p class='bob-words'>Welcome to EWasteGoWhere!</p>
        <p class='bob-words'>I'm Bob and I will be helping you navigate this website!</p>

        <div class="standard-button-background information-button">
            <a class="standard-button-link" href="{{ url_for('information') }}">Learn more</a>
        </div>
                
        <img src="{{ url_for('static', filename='images/bob.png') }}" class='bob'>

    </div>

    <div class='lower-box'>
        <div class="standard-button-background">
            <a class="standard-button-link recycling-button" href="{{ url_for('selection') }}">Start recycling →</a>
        </div>
    </div>
</div>
{% endblock %}