{% extends 'base.html' %}

{% block head %} 
<link rel='stylesheet' href={{ url_for('static', filename='css/location.css') }}>
<link rel='stylesheet' href={{ url_for('static', filename='css/bob.css') }}>
{% endblock %} 

{% block body %} 
<!-- Body of the web page goes here! -->
<div class='title-adjuster'>
    <h1 class='title'>EWasteGoWhere</h1>
</div>

<div class='map-box'>
        <iframe class='map' src="https://www.onemap.gov.sg/minimap/mm.html?mapStyle=Default&zoomLevel={{ zoom }}&latLng={{ lat }},{{ long }}&popupWidth=200&showPopup=false" height="640" width="1200" scrolling="no" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        
        <div class='map-overlay'>

            <div class='search-bar-box'>
                <div class='search-bar'>
                    <form action='{{ url_for("location") }}/using_address' method='POST'>
                        <input class='search-bar-text' type='text' name='address' id='address_bar' placeholder='Enter your location'>
                        <input class='search-bar-submit' type='image' src='{{ url_for("static", filename="images/submit.png") }}' alt='Submit'>
                    </form>
                </div>
            </div>

            <div class='gps-box'>
                <div class='standard-button-background'>
                    <image class='gps-icon' src='{{ url_for("static", filename="images/location_icon.png") }}'>
                    <a class='standard-button-link' href='{{ url_for("location") }}/using_gps'>Use my location</a>
                </div>
            </div>

            <div class='bob-box'>
                <div class='bob-white-box'>
                    <p class='bob-words'>Please enter your location to<br>allow us to guide u to the<br>nearest Ewaste station!</p>
                    <img class='bob' src=" {{ url_for('static', filename='images/bob.png') }} ">
                </div>
            </div>

        </div>

</div>
{% endblock %}