{% extends 'base.html' %}

{% block head %}
<link rel='stylesheet' href='{{ url_for("static", filename="css/suggestion.css") }}'>
<link rel='stylesheet' href='{{ url_for("static", filename="css/bob.css") }}'>
{% endblock %} 

{% block body %} 
<!-- Body of the web page goes here! -->
<div class='upper-box'>
    <div class='title-adjuster'>
        <h1 class='title'>EWasteGoWhere</h1>
    </div>

    <div class='bob-adjustor'>
        <div class='bob-white-box'>
            <p class='bob-words'>Suggestion something new?<br>Let us know what E-waste you<br>wish to suggets!</p>
            <image src='{{ url_for("static", filename="images/bob.png") }}' class='bob'>
        </div>
    </div>
</div>

<div class='lower-box'>
    <form action='{{ url_for("suggestion") }}' method='POST'>
        <div class='form-row'>
            <p class='form-box-title'>Item</p>
            <input type='text' placeholder='E.g. Washing Machine, Desktop, etc.' name='item' class='form-box'>
        </div>

        <div class='form-row'>
            <p class='form-box-title'>Weight (kg)</p>
            <input type='text' placeholder='E.g. 100' name='Weight' class='form-box'>
        </div>

        <div class='form-row'>
            <p class='form-box-title'>Dimensions (m/ inch)</p>
            <input type='text' placeholder='E.g. 13inch, 1.20mx0.9m, etc.' name='dimensions' class='form-box'>
        </div>

        <div class='form-row'>
            <p class='form-box-title'>Type (for batteries)</p>
            <input type='text' placeholder='E.g. 9-volt, Button Cell, etc.' name='type' class='form-box'>
        </div>

        <div class='form-row'>
            <p class='form-box-title'>Additional Details</p>
            <textarea class='form-box enlarged-form-box'></textarea>
        </div>

        <div class='submission-row'>
            <div class='standard-button-background longer-button-background'>
                <a class='standard-button-link' href='{{ url_for("suggestion_completed") }}'>Done</a>
            </div>
        </div>

    </form>
</div>
{% endblock %}