{% extends 'base.html' %}

{% block head %} 
<link rel='stylesheet' href="{{ url_for('static', filename='css/bob.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='css/suggestion_completed.css') }}"
{% endblock %} 

{% block body %} 
<!-- Body of the web page goes here! -->
<div class='title-adjuster'>
    <h1 class='title'>EWasteGoWhere</h1>
</div>

<div class='white-box-adjustor'>
    <div class='bob-white-box'>
        <p class='bob-words'>Thank you! Your suggestion has been<br>submitted! Do you wish to continue<br>suggesting?</p>
        <image src='{{ url_for("static", filename="images/bob_alt.png") }}' class='bob-alt'>
        
        <div class='standard-button-background left-button'>
            <a class='standard-button-link' href='{{ url_for("suggestion") }}'>Continue</a>
        </div>

        <div class='standard-button-background alt-background-color right-button'>
            <a class='standard-button-link' href='{{ url_for("selection") }}'>Exit</a>
        </div>
    </div>
</div>


{% endblock %}